.header {
  display: flex;
  background-color: rgb(15, 157, 88);
  margin-bottom: 1rem;
}

.logo {
  flex: 1;
  padding: 1rem;
}

.logo__item {
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
}

.nav__item {
  padding: 1rem;
  text-decoration: none;
  color: white;
}
